﻿@model RushHour.Web.Models.Appointment.AppointmentListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    @*<thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.StartDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDateTime)
                </th>

                <th></th>
            </tr>
        </thead>*@
    <tbody>
        @foreach (var item in Model.Appointments)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity.Duration)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                    @Html.ActionLink("Details", "Details", new { item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>